.page-left-component{
  width: 7.7rem;
  height: 100%;
  background-image: linear-gradient(-128deg, rgba(21,66,108,0.60) 0%, rgba(12,28,46,0.50) 97%);
  border-radius: 4px;
  margin-right: .46rem;
  border: 1px solid #09345d;
  .left-content{
    padding: 0 .39rem;
  }
  .showModalContent{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .messageContent{
    padding-top: .1rem;
    border-top: 1px solid  rgba(49,150,250,0.35);
  }

  .visiter, .market, .elevator{
    display: flex;
    justify-content: space-between;
  }
}
.ant-table-thead > tr, .ant-table-tbody > tr {
  -webkit-transition: all 0.3s, height 0s;
  transition: all 0.3s, height 0s;
  color:#FFFFFF;
}